* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
main {
  margin-left: 230px;
  margin-right: 230px;
}
/* header styles */
.header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  text-align: right;
  padding: 216px 230px 166px 50%;
  margin-bottom: 131px;
}
.header-title {
  font-size: 62px;
}
.header-description {
  font-size: 16px;
  color: #444343;
  margin-top: 24px;
  margin-bottom: 32px;
}
.header-btn {
  border: none;
  border-radius: 5px;
  background-color: #f15b22;
  padding: 20px 25px;
}
.header-btn a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
/* my failures section styles */
.my-failures {
  display: flex;
  align-items: center;
}
.my-failures img {
  width: 451px;
}
.failures-title {
  font-size: 40px;
}
.failures-description {
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
}
.failures-point {
  font-size: 16px;
  margin-bottom: 8px;
}
.fa-check {
  margin-right: 10px;
  color: #16d887;
}
#about-failures {
  margin-left: 105px;
}
/* my plans section styles */
.my-plans-section {
  margin-top: 130px;
  margin-bottom: 135px;
  text-align: center;
}
.my-plans-title {
  font-size: 40px;
  margin-bottom: 55px;
}
.my-plans {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-logo {
  width: 92px;
}
.skill-title {
  font-size: 25px;
  margin-top: 18px;
  margin-bottom: 16px;
}
.skill-subtitle {
  font-size: 20px;
  color: #737272;
}
/* positive mindset banner styles */
.positive-mindset-banner {
  background-image: linear-gradient(
      90deg,
      #f15b22 0%,
      rgba(241, 91, 34, 0) 100%
    ),
    url(../images/watch.png);
  background-repeat: no-repeat;
  padding: 59px 370px 59px 64px;
  border-radius: 8px;
  margin-bottom: 130px;
}
#banner-title {
  font-size: 40px;
  color: #fff;
}
#banner-button {
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 20px 36px;
  width: 160px;
  margin-top: 24px;
}
#banner-button a {
  text-decoration: none;
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
}
/* footer styles */
footer {
  display: flex;
  gap: 200px;
  background-color: #151414;
  padding: 130px 230px;
}
.footer-title {
  color: #f8f8f8;
  font-size: 45px;
}
.footer-description {
  color: #fff;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.contact-info {
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
}
.social-media-icon {
  width: 46px;
  margin-right: 10px;
  margin-top: 16px;
}
.subscribe {
  color: #fff;
  font-size: 25px;
}
.subscribe-btn {
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 20px 36px;
}
.subscribe-btn a {
  text-decoration: none;
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
}
#input-field {
  border: 1px solid #fff;
  font-size: 18px;
  color: #f3f3f3;
  background-color: #151414;
  border-radius: 8px;
  padding: 21px 158px 21px 21px;
  margin-top: 31px;
  margin-bottom: 16px;
}
